.header-background {
    background-size: cover;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
@media (min-width: 700px) {
    .header-background {
        height: auto;
    }
}
.hero-container {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
}
.custom-control-label {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.7rem;
}
input::placeholder {
    opacity: 0.3 !important;
}

label:not(.custom-control-label),
form span {
    opacity: 0.8 !important;
    color: black;
    font-weight: 600;
}

form .btn {
    background: #00f2cb;
    padding: 16px 40px;
    border-radius: 0;
    margin-right: 20px;
    color: hsla(0, 0%, 17%, 0.7);
    font-weight: 600;
}

.notification {
    position: fixed;
    top: 5;
    opacity: 1;
    z-index: 100;
    padding: 1.2em;
    box-shadow: 0 0 0 0 inset rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    animation: slideIn 0.3s ease-out;
}

.notification.alert-info {
    background: rgb(219, 224, 236);
    border: 1px solid rgba(150, 180, 250, 1) !important;
}

.notification.alert-success {
    background: rgb(214, 248, 210);
    border: 1px solid rgb(102, 195, 86) !important;
}

.notification.alert-danger {
    background: rgb(241, 227, 222);
    border: 1px solid rgb(243, 100, 100) !important;
}

.register-page-header {
}
.hero-content {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
@keyframes slideIn {
    from {
        transform: translateY(40px);
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        transform: translateY(0);
        opacity: 1;
        transform: scale(1);
    }
}
